.NavigationItem {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 5px;
}

.NavigationItem a{
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;

}