* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: cornflowerblue;
  /*background: linear-gradient(0deg, rgba(42,31,85,1) 0%, rgba(34,193,195,1) 100%);*/
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  height: 100%;
}


html {
  font-size: 62.5%;  /* 1rem = 10px */
}