.TaskList {
    margin: 1rem;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 1rem;
    min-width: 40rem;
}

.ListName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.Buttons {
    flex-shrink: 0;
    padding-left: 0.7em;
    margin-left: auto;
}

.Buttons button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    /*color: lightslategray;*/
}

.Buttons button:focus {
    outline: none;
}



.EditForm {
    display: flex;
    flex-wrap: wrap;
}
.EditForm label {
    min-width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.EditForm input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}
.EditForm button {
    padding: 0 1.3rem;
    background: #ff6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.2s ease-out;
}
.EditForm button:hover {
    background: #ff5e5e;
}
.EditForm input,
.EditForm button {
    height: 3rem;
}
